<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="com.example.yudizapplication.PHONE_PERMISSION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.example.foodcourt" />
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Yudiz"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.YudizApplication"
        tools:targetApi="34">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/img" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white_background" />

        <activity
            android:name=".FCM.FCMExample"
            android:exported="false" />
        <activity
            android:name=".Multithreading.Example3"
            android:exported="false" />
        <activity
            android:name=".Multithreading.Example4"
            android:exported="false" />
        <activity
            android:name=".Multithreading.Example2"
            android:exported="false" />
        <activity
            android:name=".Multithreading.Example1"
            android:exported="false" />
        <activity
            android:name=".roomdb.EditTodoScreen"
            android:exported="false" />
        <activity
            android:name=".Retrofit.RetrofitExampleScreen"
            android:exported="false" />
        <activity
            android:name=".roomdb.AddTodoScreen"
            android:exported="false" />
        <activity
            android:name=".roomdb.TodoListScreen"
            android:exported="false" />
        <activity
            android:name=".coil.CoilExample"
            android:exported="false" />
        <activity
            android:name=".glide.GlideExample"
            android:exported="false" />
        <activity
            android:name=".sharedpreferences.ViewSecuresShared"
            android:exported="false" />
        <activity
            android:name=".sharedpreferences.ViewSharedPrefe"
            android:exported="false" />
        <activity
            android:name=".webview.WebviewExample"
            android:exported="false" />
        <activity
            android:name=".IntentExample.SendText"
            android:exported="true">
            <intent-filter
                android:icon="@drawable/avatar1"
                android:label="Demo Application">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntentExample.IntentExample"
            android:exported="false" />
        <activity
            android:name=".sharedpreferences.SecuredSharedPreference"
            android:exported="false" />
        <activity
            android:name=".sharedpreferences.SharedPreferencesExample"
            android:exported="false" />
        <activity
            android:name=".user_permission.ShowContact"
            android:exported="false" />
        <activity
            android:name=".fragments.FragmentExample"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar.Bridge" />
        <activity
            android:name=".start_activity.UpdateProfile"
            android:exported="false" />
        <activity
            android:name=".start_activity.StartActivity"
            android:exported="false" />
        <activity
            android:name=".dialog.AddUserScreen"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.Bridge" />
        <activity
            android:name=".exp_menu.PopupScreen"
            android:exported="false" />
        <activity
            android:name=".exp_menu.ContextScreen"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.Bridge" />
        <activity
            android:name=".fontExample.FontScreen"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar.Bridge" />
        <activity
            android:name=".snackbar.SnackbarScreen"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight.Bridge" />
        <activity
            android:name=".coordinator.CoordinatorScreen"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Multithreading.OnBoardingScreen2"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".recyclerview.model.DetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".recyclerview.model.PersonInformation"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".viewpager.fragment.RecipeScreen2"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".viewpager.RecipeScreen"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".viewpager.OnBordingViewpager"
            android:exported="false"
            android:theme="@style/Theme.YudizApplication" />
        <activity
            android:name=".viewpager.WeatherInfo"
            android:exported="false"
            android:theme="@style/Theme.YudizApplication" />
        <activity
            android:name=".selector.LoginScreen"
            android:exported="false" />
        <activity
            android:name=".OnBoardingScreen"
            android:exported="true"
            android:theme="@style/Theme.YudizApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.RegistrationForm"
            android:exported="false" />
        <activity
            android:name=".layout.Second_Task"
            android:exported="true" />
        <activity
            android:name=".activity.FirstScreen"
            android:exported="false" />
        <activity
            android:name=".activity.SecondActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.YudizApplication" />

        <service android:name=".FCM.MyFirebaseMessagingServices"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>